@charset "UTF-8";

h1 {
	color: #505050;
	padding: 0.5em;
	display: inline-block;
	line-height: 1.3;
	background: #dbebf8;
	vertical-align: middle;
	border-radius: 25px 0px 0px 25px;
	/
}

h1:before {
	content: '●';
	color: white;
	margin-right: 8px;
}

table {
	width: 80%;
	border-collapse: separate;
	border-spacing: 0;
}

button {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 7px 10px 10px 10px;
	text-decoration: none;
	color: #FFF;
	background: #a180dc;
	transition: .4s;
}

button>span {
	border-bottom: solid 2px #FFF;
}

button:hover {
	background: #91b5fb;
}

button.put-button {
	background: #FFF;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	font-weight: normal; color : #1155aa;
	border: solid 2px #1155aa;
	border-radius: 3px;
	transition: .4s;
	color: #1155aa;
}

button.put-button:hover {
	background: #1155aa;
	color: white;
}

button.comment-read,button.comment-write {
	background: #FFF;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	font-weight: normal;
	color: #000;
	border: solid 2px #000;
	border-radius: 3px;
	transition: .4s;
}

button.comment-read:hover,button.comment-write:hover {
	background: #000;
	color: white;
}

.delete-button {
	background: #FFF;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #aa1133;
	border: solid 2px #aa1133;
	border-radius: 3px;
	transition: .4s;
}

.delete-button:hover {
	background: #aa1133;
	color: white;
}

th:first-child {
	border-radius: 5px 0 0 0;
}

th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
}

th {
	text-align: center;
	color: white;
	background: linear-gradient(#829ebc, #225588);
	border-left: 1px solid #3c6690;
	border-top: 1px solid #3c6690;
	border-bottom: 1px solid #3c6690;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
	width: 25%;
	padding: 1px 0;
}

td {
	text-align: center;
	border-left: 1px solid #a8b7c5;
	border-bottom: 1px solid #a8b7c5;
	border-top: none;
	box-shadow: 0px -3px 5px 1px #eee inset;
	width: 25%;
	padding: 1px 0;
}

td:last-child {
	border-right: 1px solid #a8b7c5;
}

tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

.content{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.content p {
    margin: 0;
    padding: 0;
}

#board{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
#board:before,#board:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
#board:after {
    top:-12px;
    left:-12px;
}
#board:before {
    bottom:-12px;
    right:-12px;
}
#board p {
    margin: 0;
    padding: 0;
}