<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link rel="stylesheet" href="/css/top.css">
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/comment.js"></script>
</head>
<body>
	<h1>匿名掲示板</h1>
	<br>
	<a href="/new"><button type="button" id="new">新規投稿</button> </a>
	<br>
	日付検索
	<form th:action="@{/search}" th:method="get">
		期間<input type="date" name="start">～<input type="date" name="end">
		<input type="submit" value="検索">
	</form>
	<div id="board">
		<div th:each="content : ${contents}" class="content">
			<p th:text="'投稿ID:' + ${content.id}">
			<p th:text="${content.content}">
			<div style="display: inline-flex">
				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除" class="delete-button">
				</form>
				<form th:method="get" th:action="@{/update/{id}(id=${content.id})}">
					<button type="submit" class="put-button">編集</button>
				</form>
				<button type="button" class="comment-read">コメントを見る</button>
				<button type="button" class="comment-write">コメントを書く</button>
				<br>
			</div>
			<div class="write-comment">
				<form th:action="@{/comment/}"
					th:method="post" th:object="${commentModel}">
					<input type="hidden" name="reportId" th:value="${content.id}" />
					<input type="text" name="content" th:value="*{content}" size="20"
						maxlength="200" /> <input type="submit" value="コメント" />
				</form>
			</div>
			<div th:if="${content.id} == ${comment.report_id}"
				class="read-comment" th:each="comment : ${comments}">
				<p th:text="'>>> ' + ${comment.content}" />
				<div style="display: inline-flex">
					<form th:action="@{/comment/delete/{id}(id=${comment.id})}"
						th:method="delete">
						<input type="submit" value="削除" class="delete-button">
					</form>
					<form th:method="get" th:action="@{/comment/update/{id}(id=${comment.id})}">
						<button type="submit" class="put-button">編集</button>
					</form>
				</div>
			</div>

		</div>
	</div>
</body>
</html>